docs/
*.agdai
.#*
.DS_Store
Experiment/
Reference/
WITS2022/main.synctex.gz
WITS2022/main.aux
WITS2022/main.fls
WITS2022/main.fdb_latexmk
WITS2022/main.log
WITS2022/main.out
WITS2022/main.bbl
WITS2022/main.blg
*.aux
*.xcp
TEXTEST
*.ptb
*.dvi
Thesis/latex/thesis.ptb
laMudri-generic-lr-d7b03e6/
